# Byte-compiled / optimized / DLL files
.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/*
src/etc/config.conf
/tests
/src/lib/__pycache__
/unittest/__pycache__
unittest/files_backend_utils/config1.conf
.venv